<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--
		配置PageHelper分页
		注意事项：plugins标签需要放置在typeAlieas标签中
	-->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper"></plugin>
	</plugins>
	<!-- 配置数据库连接环境：driver、url、username、password -->
	<environments default="mysql">
		<!-- 开始配置mysql -->
		<environment id="mysql">
			<!--配置事务  -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- 配置数据源 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.p6spy.engine.spy.P6SpyDriver"/>
				<property name="url" value="jdbc:p6spy:mysql:///mybatis_pagehelper?useSSL=false"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>

	<!-- 关联局部配置文件 -->
	<mappers>
		<mapper resource="cn/java/dao/impl/GoodDaoImpl.xml"/>
	</mappers>
</configuration>